*, *::before, *::after {
  box-sizing: border-box;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

input, textarea, button, select {
  font: inherit;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

*:focus {
  outline: none;
}

html {
  user-focus: none;
  -webkit-user-drag: none;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

body {
  min-height: 100dvh;
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
}

@media (min-aspect-ratio: 1/1) {
  main {
    flex-direction: row;
  }
  main article {
    width: 50%;
    margin: 12dvh 0 10dvh 10dvw;
  }
  main > nav {
    width: 50%;
    height: 100dvh;
    scroll-margin-top: 50px;
    margin: 0 8dvw;
    display: flex;
    justify-content: center;
  }
  main > nav ol {
    min-height: 50dvh;
    padding-top: 50dvh;
    padding-bottom: 30dvh;
    overflow-y: scroll;
  }
}
@media (max-aspect-ratio: 1/1) {
  main {
    flex-direction: column-reverse;
    height: 100dvh;
  }
  main > nav {
    margin: 8dvh 0;
  }
  main article {
    flex: 1;
    margin: 0 12dvw 8dvh 12dvw;
  }
}
main {
  display: flex;
}
main article {
  position: relative;
}
main article figure {
  position: absolute;
  bottom: 0;
  left: 0;
}

* {
  transition: color 0.25s ease, background-color 0.35s ease 0.05s;
}

main {
  background-color: #E1E5DB;
  color: #3D4F53;
}

* {
  font-family: Jomolhari, sans-serif;
  font-weight: normal;
  vertical-align: text-bottom;
  font-kerning: auto;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  line-height: 1;
}

h1 span {
  white-space: pre;
}

#descriptions p {
  font-family: "Crimson Text", sans-serif;
}

article nav ul li a {
  font-family: "Crimson Pro", sans-serif;
}

* {
  cursor: none;
}

#cursor {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  opacity: 1;
  backdrop-filter: invert(80%);
  -webkit-backdrop-filter: invert(5px);
  z-index: 6;
  pointer-events: none;
  transition: transform 0.1s ease-out 0.001s, width 0.12s ease 0.05s, height 0.12s ease 0.05s;
}
#cursor.cursor-hover {
  width: 60px;
  height: 60px;
}

#projects ol li a {
  padding: 2px 0 2px 32px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: start;
  flex-direction: row-reverse;
}
#projects ol li a span {
  display: block;
  width: fit-content;
  color: #3D4F53;
  transition: transform 0.2s ease;
}
#projects ol li a span.flipped {
  transform: scale(-1, 1);
  opacity: 1;
}
#projects ol li a::after {
  content: counter(item, decimal-leading-zero) ". ";
  font-family: Jomolhari, sans-serif;
  padding: 0 8px 0 12px;
  --pseudo-color: #3D4F53;
  color: var(--pseudo-color);
}

@media (min-aspect-ratio: 1/1) {
  #projects {
    height: 100dvh;
    overflow-y: hidden;
  }
  #projects ol {
    width: max-content;
    direction: rtl;
  }
  #projects ol li {
    margin-bottom: 12px;
    padding-bottom: 4px;
  }
}
@media (max-aspect-ratio: 1/1) {
  #projects ol {
    overflow-x: scroll;
    width: fit-content;
    display: grid;
    grid-template-rows: repeat(3, auto); /* 3 rows, adjust as needed */
    grid-template-columns: repeat(auto-fill, auto); /* Adjust minmax values as needed */
    grid-auto-flow: column;
    column-gap: 12px;
    flex-direction: column-reverse;
    grid-column-start: 3;
  }
  #projects ol li {
    min-width: max-content;
    direction: rtl;
    margin-bottom: 6px;
    padding-bottom: 2px;
  }
}
#projects ol {
  list-style: none;
  counter-reset: item -1;
}
#projects ol li {
  counter-increment: item;
  opacity: 0.6;
  transition: opacity 0.2s ease 0.1s, text-shadow 0.3s ease 0s;
}
#projects ol li:hover, #projects ol li:has(.flipped) {
  opacity: 1;
}
#projects ol li:hover:not(:has(.flipped)) {
  text-shadow: 0 0 6px;
}

@media (min-aspect-ratio: 1/1) {
  figure {
    width: 90%;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
}
figure img {
  transition: all 0.2s ease;
}
figure:hover img {
  scale: 102%;
  border-radius: 4px;
}

@media (min-aspect-ratio: 1/1) {
  article > nav {
    margin-right: 25%;
  }
  article > nav ul li {
    min-width: max-content;
    width: 30%;
  }
  article > nav ul li a:hover {
    text-decoration: underline;
    text-shadow: 0 0 8px;
  }
  article > nav ul li a {
    font-weight: 600;
    font-size: 0.85rem;
    padding: 8px 0;
    transition: opacity 0.2s ease 0.005s, text-shadow 0.3s ease;
  }
}
@media (max-aspect-ratio: 1/1) {
  article > nav ul li a:hover {
    text-shadow: 0 0 8px;
  }
  article > nav ul li a {
    font-weight: 600;
    font-size: 0.85rem;
    padding: 8px 0;
    text-decoration: underline;
    transition: opacity 0.2s ease 0.005s, text-shadow 0.3s ease;
  }
}
article > nav {
  margin-bottom: 20px;
}
article > nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 8px;
}
article > nav ul li {
  min-width: max-content;
  width: 30%;
}

@media (min-aspect-ratio: 1/1) {
  article > h2 {
    font-size: 1.5rem;
    margin-bottom: 4px;
    width: fit-content;
  }
  article > h3 {
    font-size: 0.95rem;
    width: fit-content;
    opacity: 0.8;
  }
  article #descriptions {
    margin-top: 36px;
    margin-bottom: 48px;
  }
  article #descriptions p {
    margin-bottom: 12px;
    margin-right: 25%;
    font-size: 0.9rem;
    height: fit-content;
    text-overflow: ellipsis;
    opacity: 0.85;
    line-height: 1.05;
    transition: opacity 0.2s ease;
  }
  article #descriptions p:hover {
    opacity: 1;
  }
}
@media (max-aspect-ratio: 1/1) {
  article > h2 {
    font-size: 1.4rem;
  }
  article #descriptions {
    margin-top: 24px;
    margin-bottom: 32px;
  }
  article #descriptions p {
    margin-bottom: 8px;
    margin-right: 5%;
    font-size: 0.9rem;
    line-height: 0.85;
  }
}
article nav, h2, h3, #descriptions, figure, img {
  transition: all 0.2s ease;
}
article nav.hide, h2.hide, h3.hide, #descriptions.hide, figure.hide, img.hide {
  opacity: 0;
  box-shadow: transparent;
}

@media (min-aspect-ratio: 1/1) {
  #ring {
    height: 70dvh;
    animation: shrink 0.75s ease-in-out 2.8s forwards;
  }
  @keyframes shrink {
    60% {
      opacity: 1;
    }
    100% {
      height: 0;
      z-index: -1;
      opacity: 0;
    }
  }
}
@media (max-aspect-ratio: 1/1) {
  #ring {
    width: 80dvw;
    animation: shrink 0.75s ease-in-out 2.8s forwards;
  }
  @keyframes shrink {
    60% {
      opacity: 1;
    }
    100% {
      width: 0;
      z-index: -1;
      opacity: 0;
    }
  }
}
#splash {
  z-index: 2;
  width: 100dvw;
  height: 100dvh;
  background-color: #E1E5DB;
  color: #3D4F53;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  white-space: pre;
  animation: fadeOut 0.3s ease 4s forwards;
}
#splash h1::after {
  content: "|";
  margin-left: 20px;
}
#splash h1::after, #splash span {
  opacity: 0.6;
}
#splash h1, #splash span {
  animation: fadeOut 0.2s ease-in-out 2.5s forwards;
}

#ring {
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: #3D4F53 0.5px solid;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}

/*# sourceMappingURL=styles.css.map */
